@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IAuthorizationService AuthorizationService
@inject IViewLocalizer Localizer
@{
    var authResult = await AuthorizationService.AuthorizeAsync(User, "RequireAdminOrManager");
    var isAdminOrManager = authResult.Succeeded;

    var descriptor = ViewContext.ActionDescriptor as ControllerActionDescriptor;
    var isUsersController = descriptor?.ControllerName == "Users";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DriveGo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css-bt/sb-admin-2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/CarRentalApp_MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DriveGo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">@Localizer["Cars"]</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && isAdminOrManager)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">@Localizer["Clients"]</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && isAdminOrManager)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Rentals" asp-action="Index">@Localizer["Rentals"]</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Payments" asp-action="Index">@Localizer["Payments"]</a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav ">
                        <form id="langForm" asp-controller="Home" asp-action="SetLanguage" method="post" class="d-inline">
                            <select name="culture" onchange="this.form.submit()" class="form-select">
                                <option value="en-US" selected="@((CultureInfo.CurrentUICulture.Name == "en-US") ? "selected" : null)">EN</option>
                                <option value="pl-PL" selected="@((CultureInfo.CurrentUICulture.Name == "pl-PL") ? "selected" : null)">PL</option>
                            </select>
                            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                        </form>

                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Users" asp-action="Dashboard">@Localizer["Admin Panel"]</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["Profile"]</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Log out"]</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Log in"]</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if(isUsersController)
    {
        <div class="">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DriveGo - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js-bt/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js-bt/demo/chart-area-demo.js"></script>
    <script src="~/js-bt/demo/chart-pie-demo.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
