@model CarRentalApp_MVC.ViewModels.CarViewModel
@{
    ViewData["Title"] = "Delete";
    var errorMessages = ViewData.ModelState.Values.SelectMany(e => e.Errors).Select(v => v.ErrorMessage).ToList();
}

<div class="row">
    <div class="col-md-4">
        <h2>Delete Car</h2>
        <p class="text-danger">@ViewData["ErrorMessage"]</p>
        <h3>Are you sure you want to delete this car?</h3>
        <hr />
        <div>
            <p style="margin: 0px; padding: 0px;"><b>Brand</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.Brand</p>

            <p style="margin: 0px; padding: 0px;"><b>Model</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.CarModel</p>

            <p style="margin: 0px; padding: 0px;"><b>Year of Production</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.YearOfProduction</p>

            <p style="margin: 0px; padding: 0px;"><b>Registration Number</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.RegistrationNumber</p>

            <p style="margin: 0px; padding: 0px;"><b>Status</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.Status</p>

            <p style="margin: 0px; padding: 0px;"><b>Price Per Day</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.PricePerDay</p>

            <p style="margin: 0px; padding: 0px;"><b>Engine Capacity</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.EngineCapacity</p>

            <p style="margin: 0px; padding: 0px;"><b>Engine Power</b></p>
            <p style="margin: 0px; padding: 0px;">@Model.EnginePower</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="@Model.CarId" value="@Model.CarId" />
                <button class="btn btn-danger" type="submit">Delete</button>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                <ul>
                    @foreach(var errorMessage in errorMessages)
                    {
                       <li>@errorMessage</li>
                    }
                </ul>
            </form>
        </div>

    </div>
</div>

