@using Microsoft.AspNetCore.Mvc.Localization
@using static CarRentalApp_MVC.Models.Car
@model CarRentalApp_MVC.ViewModels.CarViewModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Edit"];
}

<div class="row">
	<div class="col-md-4">
        <form asp-action="EditCar" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="CarId"/>
            <div class="form-group">
                <label class="control-label">@Localizer["Brand"]</label>
                <input asp-for="Brand" class="form-label" />
            </div>
            <span asp-validation-for="Brand" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["Model"]</label>
                <input asp-for="CarModel" class="form-label" />
            </div>
            <span asp-validation-for="CarModel" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["YearOfProduction"]</label>
                <input asp-for="YearOfProduction" class="form-label" />

            </div>
            <span asp-validation-for="YearOfProduction" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["RegistrationNumber"]</label>
                <input asp-for="RegistrationNumber" class="form-label" />
            </div>
            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>


            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["Status"]</label>
                <select asp-for="Status" asp-items="Html.GetEnumSelectList<CarStatus>()" class="form-label"></select>
            </div>
            <span asp-validation-for="Status" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["PricePerDay"]</label>
                <input asp-for="PricePerDay" class="form-label" type="number" step="1" />

            </div>
            <span asp-validation-for="PricePerDay" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["EngineCapacity"]</label>
                <input asp-for="EngineCapacity" class="form-label" type="number" step="0.1" />

            </div>
            <span asp-validation-for="EngineCapacity" class="text-danger"></span>

            <div class="form-group" style="margin-top: 12px;">
                <label class="control-label">@Localizer["EnginePower"]</label>
                <input asp-for="EnginePower" class="form-label" type="number" step="0.1" />

            </div>
            <span asp-validation-for="EnginePower" class="text-danger"></span>

            <div class="form-group" style="margin-top: 24px;">
                <input class="btn btn-primary" type="submit" value="@Localizer["Update"]" />
            </div>
		</form>
	</div>
</div>